{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<br/><br/>
<div >
  <p class="lead">"Good news from far away is like cold water to the thirsty." -- Solomon.</p>
</div>

{% include 'pages/carousel_page.html' %}

<br/>
<p>I'm bringing back analog charm in a digital world.</p>
<p>Like most people, most of the year, I'm busy trying to keep a roof over my head.</p>
<p>Having been born in Europe, lived in South America, South, and Southeast Asia, as well as the Far East during formative years, I have a deep respect for people and their way of life outside of the narrow confines of our borders.</p>
<p>I share that respect, and experience, with others by writing cards while travelling.</p>
<p>This is a work in progress, so check back, you may even see videos here from time to time.</p>


{% endblock %}
