{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br/>
  <p>

    <br/>
    
    {% if already_registered_email is not none %}
    <br/>The email address <b>{{already_registered_email}}</b> has already signed up.
    {% endif %}

  </p> 



    {% if form is not none %}

  <div class="form-only-page">


  </div>


    {% endif %}



{% endblock %}

<script>
  $(document).ready(function () {
      $("#adduser").submit(function (e) {
        alert("bozo")

          //stop submitting the form to see the disabled button effect
          e.preventDefault();

          //disable the submit button
          $("#btnSubmit").attr("disabled", true);

          return true;
      });
  });
</script>
