
<div class="container">

    <div class="container-fluid" id="china_event_detail_rendering" >
        <div class="row">
            <div class="col-md-1">
                <img src="./static/images/back-button-svgrepo-com.svg" width="40" height="40" onclick="move_back_china()" id="move_back_china"/>
            </div>

                <div class="col-md-10  float-left">
                    {% if event_text is not none %}
                    {{event_text|safe}}
                    {% endif %}
                </div>
    

            <div class="col-md-1 float-right">
                <img src="./static/images/back-button-svgrepo-com.svg" width="40" height="40" style="transform:rotate(180deg)" class="float-end" id="move_forward_china" onclick="move_forward_china()"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <br/>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12">
                <div id="event_render_container_china">

                    {% if chart_json is not none %}

                    <div id="china_event_rendering_chart"></div>
                </div>
                <!-- Placeholder for the tooltip -->
                <div id="vis-tooltip" class="vg-tooltip on_top_always"></div>
            </div>
            <!-- Render Charts -->
            <script type="text/javascript">

                        function parse(url, div) {
                        var opt = { mode: "vega-lite",
                            renderer: "svg",
                            actions: { export: true, source: false, editor: false }
                            };
                        vegaEmbed("#" + div, url, opt, function (error, result) {
                            vegaTooltip.vegaLite(result.view, url);
                        });
                        }
                        //Parse your Json variable here
                        parse({{ chart_json | safe }} , "china_event_rendering_chart");

            </script>

            {% endif %}


        </div>
            </div>
        </div>
      </div>                    
    </div>

</div>


<script>

var china_slide_no = 1;
var current_event_name = "";
var china_total_slides = {{china_slides_total}};

function move_forward_china()
{
    nav_to_section("china_trade");
    china_slide_no +=1;
    page_loading();
    render_china_graphs("china_trade",china_slide_no);


}

function move_back_china()
{   nav_to_section("china_trade");
    if(china_slide_no==1)
    {
        return;
    }
    china_slide_no -=1;
    page_loading();
    render_china_graphs("china_trade",china_slide_no);
}


  $(document).ready(function () {
    
    china_slide_no = {{china_slide_no}};

    if(!(china_slide_no<china_total_slides))
    {
        $("#move_forward_china").hide();
    }
    else{
        $("#move_forward_china").show();
    }    


    page_not_loading();



});
</script>

