
  {% if form is not none %}

  <!--Don Irwin use this on the tool tip so that it will be on top always-->
<style>

  .on_top_always {
    z-index: 999 !important;
  }
  
  </style>


    <div class="container">

      <div class="container-fluid" id="eu_event_detail_rendering" >
          <div class="row">
              <div class="col-md-1">
                  <img src="./static/images/back-button-svgrepo-com.svg" width="30" height="30" onclick="refresh_charts('{{ source_country }} ','World')" id="move_back_eu"/>
              </div>
              <div class="col-md-10">

                <form method="post" class="form" action="/ajaxfile" id="rendermodalcharts" name="rendermodealcharts">

                    Trade between <b>  {{source_country}} </b> and <b> {{target_country}} </b>. To see <b> {{source_country}}</b>'s trade with another country select from drop-down: 
                    &nbsp; {{ form.target_country(**{"onchange":"refresh_charts(this.form.source_country.value,this.form.target_country.value)"}) }}
                  <br/><br/>
                  {{ form.source_country }}
                    {{ form.csrf_token }}
          
          
                </form>
                          
              </div>
              <div class="col-md-1 float-right">
                  &nbsp;
              </div>
          </div>
       </div>

    </div>       
  

    <script>

    

      function set_drop_down_value(drop_down_id,value)
      {
        //console.log(value);
        for (var option of document.getElementById(drop_down_id).options)
          {
            //console.log(option.value);
          if (option.value === value)
          {
              option.selected = true;
              return;
          }
          }
  
      }
  
      function refresh_charts(current_source_country,target_country_value){
  
            if(current_source_country == target_country_value)
            {
              return;
            }
            page_loading();
  
            $.ajax({
                url: '/mapmodaldata',
                type: 'post',
                data: {source_country : current_source_country,target_country:target_country_value},
                success: function(data){ 
                    $('.modal-body').html(data); 
                    $('.modal-body').append(data.htmlresponse);
                    $('#map_modal').modal('show'); 
                }
            });
            
          };
  
  
        $(document).ready(function () {

            page_not_loading();
  
            set_drop_down_value("target_country","{{current_target_country}}");
            document.getElementById("source_country").value = "{{source_country}}";
  
            if(document.getElementById("current_target_country")!=null)
            {
              document.getElementById("current_target_country").value = "{{current_target_country}}";
            }
  
            console.log(document.getElementById("source_country").value)
  
        });
      </script>    
  
    {% endif %}
  
    {% if chart_json is not none %}

      <br/>

      <div id="altair-timeseries"></div>
      </div>
      <!-- Placeholder for the tooltip -->
      <div id="vis-tooltip" class="vg-tooltip on_top_always"></div>
      </div>
      <!-- Render Charts -->
      <script type="text/javascript">
      function parse(url, div) {
      var opt = { mode: "vega-lite",
          renderer: "svg",
          actions: { export: true, source: false, editor: false }
          };
      vegaEmbed("#" + div, url, opt, function (error, result) {
        vegaTooltip.vegaLite(result.view, url);
        });
        }
      //Parse your Json variable here
      parse({{ chart_json | safe }}, "altair-timeseries")
      </script>

  {% endif %}

