{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br/>
<br/>
<a id="introduction"></a>
<br/><br/>
<br/>
<div id="introduction_content" class="my_content_section" data-href="introduction"></div>
  <a id="world_map"></a>
  <br/></br>
  <div id="world_map_content" class="my_content_section" data-href="world_map">
  {% include 'pages/section_content/placeholder.world_modal_include.html' %}
  </div>
  <br/><br/>
  <a id="china_trade"></a>
  <br/></br>
  <div id="china_trade_content" class="my_content_section" data-href="china_trade"></div>
  <br/><br/>
  <a id="nafta_trade"></a>
  <br/></br>
  <div id="nafta_trade_content" class="my_content_section" data-href="nafta_trade"></div>
  <a id="euro_trade"></a>
  <br/></br>
  <div id="eu_trade_content"  class="my_content_section" data-href="euro_trade"></div>

  <a id="world_events"></a>
  <br/><br/>
  <div id="world_events_content" class="my_content_section" data-href="world_events"></div>

  <a id="about"></a>
  <br/><br/>
  <div id="about_content" class="my_content_section" data-href="about">
  {% include 'pages/section_content/placeholder.about.html' %}    
</div>


<div class="modal fade" id="videomodal" >
  <div class="modal-dialog modal-lg" >
    <div class="modal-content modal-lg">
        <div class="modal-header modal-lg">
            <h4 class="modal-title"> How to Use This Site
              <button type="button" class="close" data-dismiss="modal" >X</button>
            </h4>
        </div>
        <div class="modal-body modal-lg">
      
        </div>
        </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      
      <div class="modal-body">
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
        </button>        
        <!-- 16:9 aspect ratio -->
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
              
        
      </div>

    </div>
  </div>
</div> 


<script>

function shut_down_video()
{
}

function render_video_modal(){

  page_loading();
  

  $.ajax({
      url: '/videomodaldata',
      type: 'post',
      success: function(data){ 
          $('.modal-body').html(data); 
          $('.modal-body').append(data.htmlresponse);
          $('#videomodal').modal('show'); 
      }
  });
};




function nav_to_section(section_name)
{

  my_section_name = "#" + section_name;
  location.href = my_section_name;
  location.href = my_section_name;

}

function change_top_nav(element)
    {
        my_href = "#" + $(element).data("href");

        console.log(my_href);

        var btns = $(".navbar-nav .nav-link");

        for (var i = 0; i < btns.length; i++) {

            dealio = $(btns[i]).children()[0];

            last_element = dealio.href.split("/").pop();

            if(my_href==last_element)
            {
              var current = document
                    .getElementsByClassName("active");

                current[0].className = current[0]
                    .className.replace(" active", "");

                btns[i].className += " active";
            }
      }
    }

    $(document).ready(function () {

      {% if is_new_user == true %}
      var is_new_user = true;
      {% else %}
      var is_new_user = false;
      {% endif %}                                    

     
      n=1;
    
      $('.my_content_section' ).mouseenter(function() {

        change_top_nav(this);
 
      });  

      $('.my_content_section' ).scroll(function() {

        change_top_nav(this);

        });  

      var $videoSrc = "https://www.youtube.com/embed/NiLuDx-3YNI" ;        
      // when the modal is opened autoplay it  
      $('#myModal').on('shown.bs.modal', function (e) {
      // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
      $("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" ); 
      })
      // stop playing the youtube video when I close the modal
      $('#myModal').on('hide.bs.modal', function (e) {
          // a poor man's stop video
          $("#video").attr('src',$videoSrc); 
      })              

        if(is_new_user == true)
        {
          //$('#myModal').show();
          render_video_modal();
        }

        
    
    });


    
    </script>  



{% endblock %}


