{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br/>
<br/>
<a id="introduction"></a>

<br/>
<div id="introduction_content"></div>
  <a id="world_map"></a>
  <br/></br>
  {% include 'pages/placeholder.world_modal_include.html' %}
  <br/><br/>
  <a id="china_trade"></a>
  <br/></br>
  <div id="china_trade_content"></div>
  <br/><br/>
  <a id="nafta_trade"></a>
  <br/></br>
  <div id="nafta_trade_content"></div>
  <a id="euro_trade"></a>
  <br/></br>
  <div id="eu_trade_content"></div>

  <a id="world_events"></a>
  <br/><br/>
  <div id="world_events_content"></div>

  <a id="about"></a>
  <br/><br/>
  {% include 'pages/placeholder.about.html' %}    

{% endblock %}

