

<h1 id="china_trade_title">China Trade</h1>
 


<div id="china_render_section"></div>


<script>

var china_slide_no = 1;
var current_event_name = "";
var china_total_slides = 2;



function move_forward_china()
{
    china_slide_no +=1;
    page_loading();
    render_china_graphs("china_trade",china_slide_no);
    if(!(china_slide_no<china_total_slides))
    {
        $("#move_forward").hide();
    }
    else{
        $("#move_forward").show();
    }

}

function move_back_china()
{
    china_slide_no = 1;
    back_to_list();
}

function back_to_list()
{

}

function render_china_graphs(event_name,china_slide_no){

          $.ajax({
              url: '/render_china_graphs',
              type: 'post',
              data: {event_name: event_name, china_slide_no: china_slide_no},
              success: function(data){ 
                  $('#china_render_section').html(data); 
                  $('#china_render_section').append(data.htmlresponse);
              }
          });
        };


$(document).ready(function () {
    
    page_loading();
    render_china_graphs("china_trade","1");

});

</script>

