{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br/>
  <p>
    <br/>
    <br/>
  </p> 
  {% include 'pages/placeholder.introduction.html' %}
  <br/>
  {% include 'pages/placeholder.world_modal_include.html' %}
  <br/>
  {% include 'pages/placeholder.china_trade.html' %}
  <br/>
  {% include 'pages/placeholder.nafta_trade.html' %}
  <br/>
  {% include 'pages/placeholder.covid_impact.html' %}
  <br/>
  {% include 'pages/placeholder.world_events.html' %}    


{% endblock %}

