{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br />
<p>
    <br />
    <br />
</p>

  {% if form is not none %}

<div class="form-only-page">
    <form method="post" class="form" action="/" id="adduser" name="adduser">
        {{ form.source_country(**{"onchange":"this.form.submit()"}) }}
        {{ form.target_country(**{"onchange":"this.form.submit()"}) }}
        {{ form.direction(**{"onchange":"this.form.submit()"}) }}
        {{ form.current_target_country }}
        {{ form.current_source_country }}
        {{ form.current_direction }}
        {{ form.csrf_token }}
    </form>
</div>

<script>



    function set_drop_down_value(drop_down_id,value)
    {
      //console.log(value);
      for (var option of document.getElementById(drop_down_id).options)
        {
          //console.log(option.value);
        if (option.value === value)
        {
            option.selected = true;
            return;
        }
        }

    }

      $(document).ready(function () {

          set_drop_down_value("target_country","{{current_target_country}}");
          set_drop_down_value("source_country","{{current_source_country}}");
          set_drop_down_value("direction", "{{current_direction}}");
          $("#adduser").submit(function (e) {
            alert("bozo")

              //stop submitting the form to see the disabled button effect
              e.preventDefault();

              //disable the submit button
              $("#btnSubmit").attr("disabled", true);

              return true;
          });
      });
</script>

<br />
  {% endif %}

  {% if chart_json is not none %}

<br />

<div id="altair-timeseries"></div>
    </div>
<!-- Placeholder for the tooltip -->
<div id="vis-tooltip" class="vg-tooltip"></div>
    </div>
<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
    var opt = { mode: "vega-lite",
        renderer: "svg",
        actions: { export: true, source: false, editor: false }
        };
    vegaEmbed("#" + div, url, opt, function (error, result) {
      vegaTooltip.vegaLite(result.view, url);
      });
      }
    //Parse your Json variable here
    parse({{ chart_json | safe }}, "altair-timeseries")
</script>

  {% endif %}




{% endblock %}

<script>

</script>
