{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br/>
  <p>
    <br/>
    <br/>
  </p> 


  {% if chart_json is not none %}

  <div id="vis"></div>

  <script>
    // Assign the specification to a local variable vlSpec.
    // var view = new vega.View(vega.parse()
    //   .renderer("canvas")
    //   .initialize("#vis")
    //   .run();

    vlSpec = {{ chart_json | safe }};

    // Embed the visualization in the container with id `vis`
    vegaEmbed('#vis', vlSpec, {}
).then(result => {
    result.view.addEventListener('click', function(event, item) {
       alert(item.tooltip.Country);
    });
}).catch(console.warn);

  </script>

  {% endif %}

 


{% endblock %}

<script>

</script>
